# =========================
# Environment
# =========================
.env
.env.*
.env.local

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.next/
.out/

# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
.DS_Store
